* {
  background-color: '#fff';
}

.login {
  background-color: aliceblue;
  box-sizing: border-box;
  border: 1px solid;
  border-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 400px;
  margin-right: 400px;
  box-shadow: 5px 5px 3px 3px;
  padding: 35px;
}

.login:hover {
  box-shadow: 5px 5px 10px 10px;
  text-shadow: 0.2px 0.2px;
}

.button {
  display: flex;
  justify-content: center;
  margin: 10px 75px;
  border-radius: 5px;
}

.calculation {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 45px;
}

.calculation:hover {
  box-shadow: 5px 5px 10px 10px;
  text-shadow: 0.2px 0.2px;
}

.operation {
  display: inline-grid;
}

.operation Button {
  margin: 5px;
}

.operation Button:hover {
  background-color: green;
}

.total h1 {
  margin-top: 100px;
  text-align: center;
}

.total h3 {
  margin-top: 100px;
  text-align: center;
}

.container {
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* .btn{
  display: grid;
  font-family: ui-monospace;
} */
.btn .btn-1 {
  margin-right: 150px;
  font-family: ui-monospace;
}

.btn .btn-2 {
  font-family: ui-monospace;
}

.button a {
  margin-left: 15px;
  /* text-align: center; */
}

.mlo_btn {
  margin-bottom: 56px;
  margin-left: 1000px;
  font-family: monospace;
}